@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --grayBrown: #292524;
    --white: #FFFFFF;
    --lightGray: #ccc;
    --orangeRed: #E43A12;
    --royalBlue: #2135A6;
    --coralOrange: #F67841;
    --gray: #cec7c0;
    --black: #000000;
    --lightBlue: #bfc7f8;
    --blue: #4D55CC;
    --marinho:#0d1ad1;

}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: var(--royalBlue);
}

h1{
    color: var(--white);
    margin-bottom: 30px;
}

.container{
    width: 100%;
    height: 100vh;
    background: var();    
    display: flex;
    justify-content: center;    
    align-items: center;

}

.container-card{
    width: 55%;
    height: 80vh;        
    display: flex;
    justify-content: center;
    border: solid 2px rgba(255, 255, 2555, 0.596);
    border-radius: 20px;
    align-items: center;
    background: linear-gradient(to bottom, #cec7c0, #0d1ad1);
   
}

.left-login, .right-login{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.formLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    padding: 50px;
    margin: 0px 90px 0px 0px;
    
    
}

.formLogin input{
    
    outline: none;
    background-color: #0000003e;
    color: #fff;
    width: 100%;
    height: 48px;
    padding-left: 16px;        
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 10px;
}

.formLogin input:focus{
    color: #fff;
}

.formLogin input::placeholder{
    color: #fff;
}

.formLogin button{
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    height: 48px;
    font-size: 14px;
    background-color: var(--white); /*verificar*/
    color: var(--grayBrown);
    font-weight: 700;
    text-transform: uppercase;
    transition: .3s ease;
    border-radius: 10px;
}

.formLogin button:hover{
    color: var(--white);
    background-color: var(--coralOrange);

}
.formLogin p{
    color: var(--white);
}

.formLogin a{
    text-decoration: none;

    font-weight: 700;
    color: var(--grayBrown);
}

.formLogin a:hover{
    color: var(--coralOrange);
      
    
}



img{
    width: 100%;
    height: 60vh;
    padding: 60px;
    
    
    /* border-radius: 20px; */
    
   
}





/* 
.left-login{
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
   /* border: #292524;
}

img{
    width: 100%;
    height: 80vh;
    /* border-radius: 20px; */
    
/*}


label{
    color: var(--white);
}

.right-login{
    width: 40%;;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 30px 35px;
    background: var(--blue);
    /* border-radius: 20px; */
  /*  box-shadow: 0px 10px 40px #00000056;
  
}

h1{
    color: var(--coralOrange);
}


.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;

}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px; 
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
} 

.btn-login{
    width: 50%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--white);
    background: var(--coralOrange);
    cursor: pointer;
}


@media only screen and (max-width: 950px) {
    .card {
        width: 90%;
    }

    .left-login, .right-login {
        width: 50%; /* Tamanho reduzido dos cards em telas menores */
   /* }
}

@media only screen and (max-width: 600px) {
    .login {
        flex-direction: column;
        height: auto; /* Permite que a altura seja ajustada conforme o conteúdo */
    /*}

    .left-login, .right-login {
        width: 100%; /* Os cards ocupam 100% da largura em telas menores */
    /*    height: auto;
    }

    .card {
        width: 90%; /* Faz o card ocupar quase toda a tela */
   /* }
} */