@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --grayBrown: #292524;
    --white: #FFFFFF;
    --lightGray: #ccc;
    --orangeRed: #E43A12;
    --royalBlue: #2135A6;
    --coralOrange: #F67841;
    --gray: #cec7c0;
    --black: #000000;
    --lightBlue: #bfc7f8;
    --blue: #4D55CC;
    --marinho:#0d1ad1;

}


body{
   
    font-family: "Poppins", sans-serif;
    background-color: var(--royalBlue);
    
}

h1{
    color: var(--white);
    margin-bottom: 30px;
}

.container{
    width: 100%;
    height: 100vh;      
    display: flex;
    justify-content: center;    
    align-items: center;

}

.container-card{
    width: 55%;
    height: 80vh;        
    display: flex;
    justify-content: center;
    border: solid 2px var(--white);
    border-radius: 20px;
    align-items: center;
    background: linear-gradient(to bottom, #52aada, #1e42b8, #3b5ac0);
    gap: 10px;   
   
}

.left-login, .right-login{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.formLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    padding: 50px;
    margin: 0px 90px 0px 0px;
}

.formLogin input{
    outline: none;
    background-color: #2726263e;
    width: 100%;
    height: 48px;
    padding-left: 16px;        
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 10px;
}

.formLogin input:focus{
    color: var(--white);
}

.formLogin input::placeholder{
    color: var(--white);
}

.formLogin button{
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    height: 48px;
    font-size: 14px;
    background-color: var(--white); 
    color: var(--grayBrown);
    font-weight: 700;
    text-transform: uppercase;
    transition: .3s ease;
    border-radius: 10px;
}

.formLogin button:hover{
    color: var(--white);
    background-color: var(--coralOrange);

}
.formLogin p{
    color: var(--white);
}

.formLogin a{
    text-decoration: none;
    font-weight: 700;
    color: var(--grayBrown);
}

.formLogin a:hover{
    color: var(--coralOrange);  
}

img{
    width: 100%;
    height: 60vh;
    padding: 60px;
      
}

@media (max-width: 1096px) {
    img{
        width: 80%;
        height: auto;
        padding: 60px 0px 10px 0px;
        /* width: 20vw; */
    }    
    .container-card{
        flex-direction: column;
        gap: 50px;
    }
    .formLogin{
        padding: 10px 0px 230px 60px;
        font-size: 1.5vw;
    }
}

@media(max-width: 950px){
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    img{
        
        width: 40%;
        height: 120%;
        padding: 180px 0px 10px 0px;
    }
    .formLogin{
        font-size:85%;
    }
    .container-card{
        gap: 35px;
    }
}

.error-message {
    color: #ff6b6b;
    margin: 10px 0;
    text-align: center;
    font-size: 0.9em;
}

